<%= javascript_include_tag "home" %>

<div id="home-buttons">
  <%= link_to "Read", "#", :id => "read-button", :class => "home-button alignleft" %>
  <%= link_to "Rate", "#", :id => "rate-button", :class => "home-button alignright" %>
</div>

<div id="home-find-rating">
  Find a rating
</div>

<div id="home-add-rating">
  <input type="text" class="grid_6" id="school" value="Start typing your school's name..." />
  <input type="hidden" id="school-id" />
</div>
